@font-face {
  font-family: 'Droid Sans TV';
  font-style: normal;
  font-weight: normal;
  src: local('Droid Sans TV'), local('DroidSansTV'), url('./Jbq3YPwzagUGcF8OGkpJLSXcl4nSJdsn8QOlJHNtLzU.ttf') format('truetype');
}
@font-face {
  font-family: 'Droid Sans TV';
  font-style: normal;
  font-weight: bold;
  src: local('Droid Sans TV Bold'), local('DroidSansTV-Bold'), url('./4OOoR_zjNP4T-zdQ8Yh_5UDSgbE7mQYsZh5sxQr8MH4.ttf') format('truetype');
}

/*
     FILE ARCHIVED ON 21:39:39 Oct 05, 2011 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 00:37:53 Jan 21, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.5
  exclusion.robots: 0.02
  exclusion.robots.policy: 0.009
  esindex: 0.01
  cdx.remote: 10.636
  LoadShardBlock: 546.616 (3)
  PetaboxLoader3.datanode: 389.271 (4)
  PetaboxLoader3.resolve: 280.328 (2)
  load_resource: 230.643
*/