
.yttv-view-site {
}

.yttv-view-site-page,
.yttv-view-site-service {
	display: none;	
}


/*
     FILE ARCHIVED ON 02:22:27 Mar 15, 2012 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 16:32:39 Jan 22, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.755
  exclusion.robots: 0.036
  exclusion.robots.policy: 0.018
  esindex: 0.013
  cdx.remote: 33.518
  LoadShardBlock: 448.817 (3)
  PetaboxLoader3.datanode: 488.299 (4)
  load_resource: 305.163
  PetaboxLoader3.resolve: 42.81
*/